@import "../index.scss";

.logo {
  width: 100px;
}
.header-warpper {
  background-color: $color_black;
  color: $color_white;
}
.header-container {
  row-gap: 2rem;
  justify-content: space-between !important;
  padding: 1rem 1rem;
  color: $secondary;
}
.header-menu {
  gap: 2rem;
  & > *:hover {
    cursor: pointer;
  }
}
.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: $color_white;
  background: $blue-gradient;
  border-radius: 4px;
  transition: all 300ms ease-in;
  border: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
