@import "../index.scss";

.value-container {
  display: grid;

  .value-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image-container {
      border: 8px solid rgb(232 232 232/93%);
      max-width: 30rem;
      border-radius: 15rem 15rem 0 0;
      img {
        object-fit: cover;
      }
    }
  }
  .value-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
    }
    .accordion {
      margin-top: 2rem;
      border: none;
      .accordionItem {
        background: white;
        border: 0.8px solid rgba(128, 128, 128, 0.143);
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
        span {
          font-size: 1rem;
        }
        .accordionButton {
          display: flex;
          background: white;
          padding: 1rem;
          width: 100%;
          justify-content: space-between;
          cursor: pointer;
          .primaryText {
            font-size: 1.1rem;
          }
        }
        .icon {
          padding: 10px;
          background: #eeeeff;
          border-radius: 5px;
          & svg {
            fill: var(--blue);
          }
        }
        &.expanded {
          box-shadow: var(--shadow);
          border-radius: 6px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .value-container {
    display: grid;

    .value-left {
      .image-container {
        border-radius: 15rem 15rem 0 0;
      }
    }
  }
}
@media (min-width: 1024px) {
  .value-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .value-right {
    display: flex;
    flex-direction: column;
  }
}
